<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Area Of Triangle</title>
    <link rel="stylesheet" href="/style.css">
</head>

<body>
    <nav class="navigation container">
        <div class="nav-brand"><a class="brand" href="/">Fun With Triangle</a></div>
        <ul class="list-non-bullet nav-pills">
            <li class="list-item-inline">
                <a class="link link-active" href="/">Is Triangle?</a>
            </li>
            <li class="list-item-inline">
                <a class="link" href="./quiz.html">Quiz</a>
            </li>
            <li class="list-item-inline">
                <a class="link" href="./hypotenuse.html">Hpotenuse</a>
            </li>
            <li class="list-item-inline">
                <a class="link" href="">Area Of Triangle</a>
            </li>
        </ul>
    </nav>

    <div class="internal-container">
    <h1>Area Of Triangle</h1>
    <div class="container">
        <label for="base" class="label">Base</label>
        <input class="input-class"type="number" id="base">
        <label for="height" class="label">Height</label>
        <input class="input-class"type="number" id="height">

        <button id="calculate">Calculate</button>

        <div id="output"></div>

    </div>
    </div>

    <footer class="footer">
        <div class="footer-header">Social Media</div>
        <ul class="social-links list-non-bullet">
            <li class="list-item-inline">
                <a class="link" target=”_blank” href="https://github.com/Nachiket216/"> Github </a>
            </li>
            <li class="list-item-inline">
                <a class="link" target=”_blank” href="https://twitter.com/nachiket216"> Twitter </a>
            </li>
            <li class="list-item-inline">
                <a class="link" target=”_blank” href="https://www.linkedin.com/in/nachiket-shrikhande-5966211a9/">
                    Linkedin
                </a>
            </li>
        </ul>
    </footer>
</body>
<script src="./areaoftriangle.js"></script>

</html>