<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>quiz</title>
    <link rel="stylesheet" href="/style.css">
</head>

<body>
    <nav class="navigation container">
        <div class="nav-brand"><a class="brand" href="/">Fun With Triangle</a></div>
        <ul class="list-non-bullet nav-pills">
            <li class="list-item-inline">
                <a class="link link-active" href="/">Is Triangle?</a>
            </li>
            <li class="list-item-inline">
                <a class="link" href="">Quiz</a>
            </li>
            <li class="list-item-inline">
                <a class="link" href="./hypotenuse.html">Hpotenuse</a>
            </li>
            <li class="list-item-inline">
                <a class="link" href="./areaoftriangle.html">Area Of Triangle</a>
            </li>
        </ul>
    </nav>


<div class="internal-container">
    <h1>Triangle quiz</h1>
    <form action="" class="quiz-form">
        <div class="question-container">
            <p class="question">What is the third angle for the triangle where angle1 = 45° and angle2 = 45°?</p>

            <label for=""><input type="radio" name="question1" id="" value="45°">45°</label>
            <label for=""><input type="radio" name="question1" id="" value="60°">60°</label>
            <label for=""><input type="radio" name="question1" id="" value="90°">90°</label>

        </div>

        <div class="question-container">
            <p class="question">If a triangle has an angle 90°, what is it called?</p>

            <label for=""><input type="radio" name="question2" id="" value="Acute">Acute</label>
            <label for=""><input type="radio" name="question2" id="" value="Obtuse">Obtuse</label>
            <label for=""><input type="radio" name="question2" id="" value="Right Angle">Right Angle</label>

        </div>
    </form>
    <button id="submit-answer-btn">Submit Answers</button>
    <div id="output"></div>
</div>

    <footer class="footer">
        <div class="footer-header">Social Media</div>
        <ul class="social-links list-non-bullet">
            <li class="list-item-inline">
                <a class="link" target=”_blank” href="https://github.com/Nachiket216/"> Github </a>
            </li>
            <li class="list-item-inline">
                <a class="link" target=”_blank” href="https://twitter.com/nachiket216"> Twitter </a>
            </li>
            <li class="list-item-inline">
                <a class="link" target=”_blank” href="https://www.linkedin.com/in/nachiket-shrikhande-5966211a9/">
                    Linkedin
                </a>
            </li>
        </ul>
    </footer>
</body>
<script src="./quiz.js"></script>

</html>